body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
}

h1 {
    text-align: center;
}

.counterBtn {
    border-radius: 5px;
    color: lightgray;
    background-color: white;
    border-color: darkgray;
    font-size: 3em;
    font-weight: bold;
}

.counterBtn:hover {
    color: white;
    background-color: gray;
}

.counterBtn:active {
    background-color: lightgray;
}

.counterBtn__remove {
    margin-left: 0.5em;
}

.counterBtn__save {
    display: block;
    font-family: monospace;
    font-size: 1em;
    color: black;
    white-space: pre;
    margin-top: 2em;
    margin-left: auto;
}

.counterBtn__save:hover {
    background-color: rgb(98, 190, 98);
    border-color: gray;
}

.counterBtn__save:active {
    background-color: lightgreen;
}

.counter {
    display: inline-block;
    width: 20%;
    border: 2px dashed red;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 1em;
}

.counter > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.counter__holder {
    color: white;
    background-color: blue;
    max-width: 100px;
    text-align: center;
    font-size: 4em;
}

.counter__controlBtn {
    color: black;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 0.2em;
}

.counter__controlBtn:hover {
    color: white;
    background-color: black;
    border-color: white;
    outline-color: white;
}

.counter__controlBtn:active {
    background-color:gray;
}

.counter__resetLink {
    text-decoration: underline;
}

.counter_li {
    margin-bottom: 1em;
}

.nameEntry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameEntry_item {
    margin: 0px 5px;
}

.highscoreList {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}