body{
    font-size: 10px;
    width: 400px;
    border: 2px solid black;
    padding: 1em;
}

h1 {
    text-align: center;
}

.addCounterBtn, .removeCounterBtn {
    border-radius: 5px;
    color: lightgray;
    background-color: darkgray;
}

.counter {
    width: 20%;
    border: 2px dashed red;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 1em;
}

.counter > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.counter__holder {
    color: white;
    background-color: blue;
    max-width: 100px;
    text-align: center;
    font-size: 4em;
}

.counter__controlBtn {
    color: black;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 0.2em;
}

.counter__controlBtn:hover {
    color: white;
    background-color: black;
    border-color: white;
    outline-color: white;
}

.counter__controlBtn:active {
    background-color:gray;
}

.counter__resetLink {
    text-decoration: underline;
}